workflows/buaskoor-ai-sales-agent-public.json
{
  "name": "Buaskoor AI Sales Agent - Public",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "public-placeholder-webhook",
        "options": {
          "responseCode": {
            "values": {}
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1456,
        224
      ],
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// 1) قراءة البيانات القادمة من Evolution API\n// =====================================================\n\nconst body = $json.body || {};\nconst data = body.data || {};\nconst msg = data.message || {};\n\n// =====================================================\n// 2) استخراج رقم الواتساب للمرسل\n// =====================================================\n\nconst jid =\n  data.key?.remoteJid ||\n  data.key?.remoteJidAlt ||\n  \"\";\n\n// =====================================================\n// 3) تجاهل المجموعات\n// لا نعالج أي رسالة قادمة من جروب\n// =====================================================\n\nif (!jid || jid.includes(\"@g.us\")) {\n  return [];\n}\n\n// =====================================================\n// 4) تنظيف رقم الهاتف\n// تحويل:\n// 9715xxxx@s.whatsapp.net\n// إلى:\n// 9715xxxx\n// =====================================================\n\nconst phone = jid\n  .replace(\"@s.whatsapp.net\", \"\")\n  .replace(\"@lid\", \"\")\n  .replace(\"@c.us\", \"\")\n  .trim();\n\n\n// =====================================================\n// 5) استخراج نص الرسالة\n// يدعم:\n// - الرسائل النصية\n// - الأزرار\n// - القوائم\n// =====================================================\n\nconst text =\n  msg.conversation ||\n  msg.extendedTextMessage?.text ||\n  msg.buttonsResponseMessage?.selectedButtonId ||\n  msg.templateButtonReplyMessage?.selectedId ||\n  msg.listResponseMessage?.singleSelectReply?.selectedRowId ||\n  \"\";\n\n\n// =====================================================\n// 6) استخراج رقم البوت المستقبل\n// =====================================================\n\nconst receiver = (body.sender || \"\")\n  .replace(\"@s.whatsapp.net\", \"\")\n  .trim();\n\n\n// =====================================================\n// 7) استخراج Message ID\n//\n// هذا هو المفتاح الأساسي لتطبيق Idempotency\n//\n// كل رسالة واتساب لها ID فريد\n// سنخزنه في قاعدة البيانات\n//\n// إذا وصل نفس الـ ID مرة ثانية:\n// نتجاهل الرسالة\n// =====================================================\n\nconst messageId =\n  data.key?.id ||\n  msg.key?.id ||\n  body.key?.id ||\n  \"\";\n\n\n// =====================================================\n// 8) وقت وصول الرسالة\n//\n// يساعد لاحقاً في:\n// - التقارير\n// - التتبع\n// - اكتشاف التكرار\n// =====================================================\n\nconst messageTime = new Date().toISOString();\n\n// =====================================================\n// 9) تحديد هل الرقم إماراتي\n//\n// true  => يبدأ بـ 971\n// false => أي دولة أخرى\n// =====================================================\n\nconst isUAE = phone.startsWith(\"971\");\n\n// =====================================================\n// 10) إخراج البيانات لبقية الووركفلو\n// =====================================================\n\nreturn [\n  {\n    json: {\n\n      // بيانات العميل\n      phone,\n      pushName: data.pushName || \"\",\n\n      // الرسالة\n      text,\n\n      // رقم البوت\n      receiver,\n\n      // الدولة\n      isUAE,\n\n      // Idempotency\n      message_id: messageId,\n      message_time: messageTime\n\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        224
      ],
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4dfefc21-6b0e-4e7d-aa65-295490051681",
              "leftValue": "={{ $json.isUAE }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1152,
        224
      ],
      "name": "uae nu"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n bu",
        "remoteJid": "={{ $json.phone }}",
        "messageText": "={{ $json.last_bot_message }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        608,
        848
      ],
      "name": "Enviar texto"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "=# الدور\n\nأنت موظف المبيعات الرسمي لمتجر بوعسكور.\n\nهدفك هو مساعدة العميل في شراء المنتجات بأبسط وأسرع طريقة، مع تقديم تجربة ودية واحترافية.\n\nلا تذكر أبداً أنك ذكاء اصطناعي أو روبوت.\n\n━━━━━━━━━━━━━━━━━━━━━━\n# أسلوب الحديث\n\n- استخدم العربية البسيطة واللهجة الخليجية الخفيفة.\n- كن لبقاً ومختصراً.\n- لا تكتب رسائل طويلة بدون داع.\n- لا تكرر نفس المعلومات.\n- لا تستخدم أسلوب رسمي مبالغ فيه.\n- استخدم الإيموجي باعتدال.\n- لا تستخدم أكثر من إيموجي واحد أو اثنين في الرسالة.\n\n━━━━━━━━━━━━━━━━━━━━━━\n# قواعد مهمة جداً\n\n1- ممنوع استخدام القوائم المرقمة.\n\nلا تستخدم:\n\n1.\n2.\n3.\n\nلأن الأرقام محجوزة داخل النظام.\n\nاستخدم فقط:\n\n•\n\nأو\n\n-\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n2- ممنوع أن تطلب من العميل اختيار رقم.\n\nلا تقل:\n\nاختر رقم 1\n\nأو\n\nأي رقم تفضل\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n3- إذا عرضت أكثر من منتج\n\nلا تقل:\n\nأي نوع تفضل؟\n\nبل وجّه العميل مباشرة.\n\nمثال صحيح:\n\nاكتب اسم النوع الذي تريده ثم الكمية.\n\nمثال:\n\nشاي تعليقة عبوتين\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n4- إذا كان المنتج يحتاج وزن\n\nاعرض الأوزان ثم اطلب من العميل كتابة الوزن.\n\nمثال:\n\nالأوزان المتوفرة:\n\n• 250 جم\n• 500 جم\n• 1 كجم\n\nاكتب الوزن الذي تريده.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n5- لا تطلب أكثر من معلومة إذا لم تكن ضرورية.\n\nمثال:\n\nإذا العميل لم يحدد النوع\n\nاسأله عن النوع فقط.\n\nإذا حدد النوع ولم يحدد الوزن\n\nاسأله عن الوزن فقط.\n\nإذا حدد الوزن ولم يحدد الكمية\n\nاسأله عن الكمية فقط.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n6- عندما تكون جميع المعلومات مكتملة\n\nلا تعد السؤال مرة أخرى.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n7- لا تخترع منتجات.\n\nلا تخترع أسعار.\n\nلا تخترع عروض.\n\nاعتمد فقط على قاعدة المعرفة.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n8- لا تستخدم كلمة \"اختر\".\n\nبدلاً منها استخدم:\n\nاكتب\n\nأرسل\n\nاذكر\n\nمثال:\n\nاكتب اسم المنتج.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n9- إذا كان العميل يريد تعديل الطلب\n\nعدّل الطلب الحالي.\n\nلا تنشئ طلباً جديداً.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n10- إذا حذف العميل منتجاً\n\nأكد له أن الطلب تم تحديثه.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n11- إذا لم تفهم الرسالة\n\nاطلب التوضيح باختصار.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n# أسلوب عرض المنتجات\n\nإذا طلب العميل رؤية المنتجات\n\nاعرضها بالشكل التالي:\n\n• اسم المنتج — السعر\n\nثم وصف قصير جداً.\n\nولا تكتب أكثر من سطر لكل منتج.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n# مثال للقهوة\n\nلدينا الأنواع التالية:\n\n• قهوة بوعسكور العربية السوداء\nتحميص داكن بطابع عربي.\n\n• قهوة بوعسكور العربية البنية\nتحميص متوسط ومتوازن.\n\n• قهوة بوعسكور العربية الشقراء\nتحميص فاتح ونكهة خفيفة.\n\nاكتب اسم النوع الذي تريده ثم الوزن.\n\nمثال:\n\nقهوة بوعسكور العربية السوداء 500 جم\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n# مثال للشاي\n\nلدينا الأنواع التالية:\n\n• شاي تعليقة — 17 درهم\n\n• شاي تعليقة بلس — 17 درهم\n\n• شاي تلقيمة أصيل — 30 درهم\n\n• شاي تلقيمة سبيشل OP1 — 30 درهم\n\n• شاي عراقي نخب أول — 20 درهم\n\nاكتب اسم النوع الذي تريده ثم الكمية.\n\nمثال:\n\nشاي تعليقة عبوتين\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n# مثال لبترينا\n\nلدينا:\n\n• كركديه سوداني فاخر 250 جم — 20 درهم\n\n• زيت سمسم سوداني 500 مل — 30 درهم\n\nاكتب اسم المنتج ثم الكمية.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n# عند اكتمال الطلب\n\nبعد جمع المنتجات\n\nاعرض ملخصاً واضحاً.\n\nثم اطلب فقط أي بيانات ناقصة.\n\nلا تطلب بيانات موجودة مسبقاً في الجلسة.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n# إذا كانت بيانات العميل موجودة\n\nلا تسأل مرة أخرى عن:\n\n- الاسم\n- العنوان\n- المنطقة\n- طريقة الدفع\n\nإلا إذا طلب العميل تعديلها.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n# إذا اكتمل كل شيء\n\nاعرض ملخص الطلب.\n\nواختم الرسالة بـ:\n\nإذا كل شيء صحيح اكتب:\n\nتم\n\nوسنبدأ مباشرة بتجهيز طلبك 🌿\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n# قواعد الإرسال\n\nلا ترسل روابط إلا إذا طلب العميل ذلك.\n\nلا تستخدم Markdown.\n\nلا تستخدم جداول.\n\nلا تستخدم HTML.\n\nلا تستخدم تنسيق JSON.\n\nأرسل دائماً نصاً عادياً مناسباً لواتساب.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\n# الهدف النهائي\n\nقد العميل خطوة بخطوة حتى يكتمل الطلب بأقل عدد ممكن من الرسائل، مع المحافظة على تجربة طبيعية تشبه موظف مبيعات حقيقي.\n\n━━━━━━━━━━━━━━━━━━━━━━\n# طريقة التفكير (Goal Driven)\n\nهدفك الأساسي هو إنهاء الطلب بأقل عدد ممكن من الرسائل.\n\nقبل كل رد اسأل نفسك:\n\nما هي المعلومة الوحيدة الناقصة الآن؟\n\nاطلب هذه المعلومة فقط.\n\nلا تطلب معلومات موجودة بالفعل داخل الجلسة.\n\nلا تعيد سؤالاً سبق أن تمت الإجابة عليه.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\nترتيب المعلومات المطلوب جمعها:\n\n1- المنتج\n\n2- الوزن (إذا كان المنتج يحتاج وزناً)\n\n3- الكمية\n\n4- الاسم\n\n5- المنطقة\n\n6- العنوان\n\nثم يعرض ملخص الطلب ويطلب التأكيد.\n\nطريقة الدفع دائماً:\n\nالدفع عند الاستلام\n\nلذلك لا تسأل العميل عنها.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\nإذا كانت المعلومة التالية هي المنتج\n\nاعرض المنتجات المناسبة فقط.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\nإذا كانت المعلومة التالية هي الوزن\n\nلا تعرض جميع المنتجات.\n\nاعرض فقط الأوزان المتوفرة لذلك المنتج.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\nإذا كانت المعلومة التالية هي الكمية\n\nاسأل عن الكمية فقط.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\nإذا كانت المعلومة التالية هي الاسم\n\nاسأل عن الاسم فقط.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\nإذا كانت المعلومة التالية هي المنطقة\n\nاسأل عن المنطقة فقط.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\nإذا كانت المعلومة التالية هي العنوان\n\nاسأل عن العنوان فقط.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\nإذا كانت جميع المعلومات مكتملة\n\nلا تسأل أي سؤال آخر.\n\nاعرض ملخص الطلب.\n\nثم اختم بـ:\n\nإذا كل شيء صحيح اكتب:\n\nتم\n\nوسنبدأ مباشرة بتجهيز طلبك 🌿\n━━━━━━━━━━━━━━━━━━━━━━\n# ترتيب الأولويات\n\nقبل إرسال أي رد اتبع هذا الترتيب:\n\nهل العميل يريد تعديل الطلب؟\n\nإذا نعم:\nنفذ التعديل أولاً.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\nإذا كان هناك منتج ناقص البيانات\n\nاطلب البيانات الناقصة لهذا المنتج فقط.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\nإذا كانت السلة مكتملة\n\nاجمع بيانات العميل الناقصة فقط.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\nإذا كانت بيانات العميل مكتملة\n\nاعرض ملخص الطلب مباشرة.\n\n━━━━━━━━━━━━━━━━━━━━━━\n\nإذا كان الطلب جاهزاً\n\nاطلب من العميل فقط كتابة:\n\nتم\n\n━━━━━━━━━━━━━━━━━━━━━━\n\nلا تبدأ موضوعاً جديداً أثناء وجود طلب مفتوح.\n━━━━━━━━━━━━━━━━━━━━━━\n━━━━━━━━━━━━━━━━━━━━━━\n# قاعدة مهمة\n\nلا تفترض أن العميل يريد معلومات.\n\nإذا كتب:\n\nقهوة\n\nفهو غالباً يريد شراء قهوة.\n\nإذا كتب:\n\nشاي\n\nفهو غالباً يريد شراء شاي.\n\nإذا كتب:\n\nكركديه\n\nفهو غالباً يريد شراء كركديه.\n\nلذلك ابدأ بمساعدته في إكمال الطلب، ولا تدخل في شرح طويل.\n\nاشرح فقط إذا طلب العميل معلومات إضافية.\nلا تعرض منتجات أخرى إلا إذا طلب العميل ذلك."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        32,
        736
      ],
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        32,
        832
      ],
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "description": "Use this tool whenever the customer asks about products, prices, categories, all products, delivery, payment, guarantee, links, or images. Always use it before answering any product or price question.",
        "jsCode": "const data = {\n  store: {\n    name: \"بوعسكور\",\n    whatsapp: \"+YOUR_STORE_WHATSAPP_NUMBER\",\n    website: \"www.buaskoor.ae\",\n    instagram: \"https://www.instagram.com/buaskoorstore\",\n    working_hours: \"24 ساعة\"\n  },\n\n  promotions: {\n    active: true,\n    store_discount: \"خصم 20% على جميع المنتجات\",\n    free_delivery_above: 200,\n    golden_guarantee_all_products: true,\n    kilo_special_prices: true,\n    message: \"خصم 20% على كل المنتجات، توصيل مجاني للطلبات فوق 200 درهم، الضمان الذهبي على جميع المنتجات، وأسعار خاصة لعبوات الكيلو.\"\n  },\n\n  delivery: {\n    coverage: \"جميع إمارات الدولة\",\n    standard_fee: 18,\n    western_region_fee: 30,\n    western_region_note: \"المنطقة الغربية رسوم التوصيل لها 30 درهم\",\n    free_delivery_above: 200,\n    minimum_order: 0,\n    estimated_delivery: \"من يوم إلى يومين\",\n    no_delivery_day: \"الجمعة\"\n  },\n\n  payment_methods: [\n    \"الدفع عند الاستلام\",\n    \"تحويل بنكي\",\n    \"بطاقات بنكية\",\n    \"Apple Pay\"\n  ],\n\n  guarantee: {\n    name: \"ضمان بوعسكور الذهبي\",\n    applies_to: \"جميع المنتجات\",\n    description: \"إذا وصلك المنتج ولم يعجبك لأي سبب، خله عندك ويتم إرجاع المبلغ بالكامل.\"\n  },\n\n  refund_policy: {\n    description: \"تطبق نفس سياسة ضمان بوعسكور الذهبي.\"\n  },\n\n  coffee_general: {\n    form: \"مطحونة وجاهزة للاستخدام\",\n    blend: \"خلطة بوعسكور الخاصة\"\n  },\n\n  products: {\n    coffee: [\n      {\n        id: \"black_coffee\",\n        name: \"قهوة بوعسكور العربية السوداء\",\n        sku: \"BBLACK0001\",\n        description: \"قهوة عربية بتحميص داكن ونكهة قوية لعشاق القهوة الثقيلة. مطحونة وجاهزة وتحتوي على خلطة بوعسكور الخاصة.\",\n        suitable_for: \"محبي القهوة القوية والطعم المركز.\",\n        prices: { \"250g\": 35, \"500g\": 65, \"1kg\": 125 },\n        main_image: \"https://buaskoor.ae/wp-content/uploads/2025/09/ChatGPT-Image-Dec-25-2025-06_25_34-PM-300x300.jpg\"\n      },\n      {\n        id: \"brown_coffee\",\n        name: \"قهوة بوعسكور العربية البنية\",\n        sku: \"BBROWN0001\",\n        description: \"قهوة عربية متوازنة بتحميص متوسط تجمع بين النكهة الغنية والسلاسة في كل فنجان. مطحونة وجاهزة وتحتوي على خلطة بوعسكور الخاصة.\",\n        suitable_for: \"الاستخدام اليومي ولمن يبحث عن توازن بين القوة والخفة.\",\n        prices: { \"250g\": 30, \"500g\": 55, \"1kg\": 110 },\n        main_image: \"https://buaskoor.ae/wp-content/uploads/2025/09/ChatGPT-Image-Dec-25-2025-06_59_45-PM-300x300.jpg\"\n      },\n      {\n        id: \"blonde_coffee\",\n        name: \"قهوة بوعسكور العربية الشقراء\",\n        sku: \"BBLOND0001\",\n        description: \"قهوة عربية بتحميص فاتح ونكهة ناعمة مستوحاة من القهوة العربية التقليدية. مطحونة وجاهزة وتحتوي على خلطة بوعسكور الخاصة.\",\n        suitable_for: \"محبي القهوة العربية الخفيفة والنكهات الناعمة.\",\n        prices: { \"250g\": 40, \"500g\": 75, \"1kg\": 140 },\n        main_image: \"https://buaskoor.ae/wp-content/uploads/2025/11/ChatGPT-Image-Dec-25-2025-06_36_07-PM-300x300.jpg\"\n      }\n    ],\n\n    tea: [\n      {\n        id: \"tea_bag\",\n        name: \"شاي تعليقة\",\n        sku: \"TW-003\",\n        description: \"شاي عملي وسهل التحضير بطعم متوازن مناسب للاستخدام اليومي.\",\n        old_price: 21,\n        price: 17,\n        main_image: \"https://buaskoor.ae/wp-content/uploads/2025/09/ChatGPT-Image-Dec-25-2025-07_42_22-PM-300x300.jpg\"\n      },\n      {\n        id: \"tea_bag_plus\",\n        name: \"شاي تعليقة بلس\",\n        sku: \"TW-004\",\n        description: \"نسخة محسنة بنكهة أغنى وقوام أقوى لعشاق الشاي المركز.\",\n        old_price: 23,\n        price: 17,\n        main_image: \"https://buaskoor.ae/wp-content/uploads/2025/09/ChatGPT-Image-Dec-25-2025-06_59_45-PM-300x300.jpg\"\n      },\n      {\n        id: \"tea_aseel\",\n        name: \"شاي تلقيمة أصيل\",\n        sku: \"TW-001\",\n        description: \"شاي فاخر بطابع تقليدي ونكهة أصيلة لمحبي الشاي الكلاسيكي.\",\n        old_price: 34,\n        price: 30,\n        main_image: \"https://buaskoor.ae/wp-content/uploads/2025/09/%D8%AA%D8%B5%D9%85%D9%8A%D9%85-%D8%A8%D8%AF%D9%88%D9%86-%D8%B9%D9%86%D9%88%D8%A7%D9%86-13-300x300.png\"\n      },\n      {\n        id: \"tea_op1\",\n        name: \"شاي تلقيمة سبيشل OP1\",\n        sku: \"TW-002\",\n        description: \"شاي عالي الجودة من فئة OP1 يتميز بأوراق مختارة ونكهة راقية.\",\n        old_price: 34,\n        price: 30,\n        main_image: \"https://buaskoor.ae/wp-content/uploads/2025/09/ChatGPT-Image-Dec-25-2025-07_38_19-PM-300x300.jpg\"\n      },\n      {\n        id: \"iraqi_tea\",\n        name: \"شاي عراقي نخب أول\",\n        sku: \"TW-005\",\n        description: \"شاي بطابع عراقي أصيل ونكهة قوية تناسب جلسات الشاي التقليدية.\",\n        old_price: 30,\n        price: 20,\n        main_image: \"https://buaskoor.ae/wp-content/uploads/2025/09/ChatGPT-Image-Dec-25-2025-08_41_49-PM-300x300.jpg\"\n      }\n    ],\n\n    batrina: [\n      {\n        id: \"hibiscus\",\n        name: \"كركديه سوداني فاخر طبيعي 100% – 250 جم | بترينا\",\n        sku: \"BAT-HIB-250\",\n        description: \"كركديه سوداني طبيعي 100% يتميز بلونه الغني وطعمه المنعش وجودته العالية.\",\n        available_sizes: [{ size: \"250 جم\", price: 20 }],\n        only_available_size: \"250 جم\",\n        strict_note: \"الكركديه متوفر فقط بحجم 250 جم بسعر 20 درهم. ممنوع ذكر أي أحجام أخرى.\",\n        main_image: \"https://buaskoor.ae/wp-content/uploads/2026/02/%D8%A8%D8%AA%D8%B1%D9%8A%D9%86%D8%A9-%D8%AD%D9%8A%D8%AB-%D8%AA%D9%84%D8%AA%D9%82%D9%8A-%D8%A3%D8%B5%D8%A7%D9%84%D8%A9-%D8%A7%D9%84%D8%B3%D9%88%D8%AF%D8%A7%D9%86-%D9%88%D9%84%D9%85%D8%B3%D8%A9-%D8%A7%D9%84%D8%AD%D8%AF%D8%A7%D8%AB%D8%A9-%D9%88%D9%83%D9%84-%D8%B9%D8%A8%D9%88%D8%A9-%D8%AA%D8%AD%D9%85%D9%84-%D9%82%D8%B7%D8%B9%D8%A9-%D8%B5%D8%BA%D9%8A%D8%B1%D8%A9-%D9%85%D9%86-%D8%AC%D9%85%D8%A7%D9%84-%D8%A7%D9%84%D8%A3%D8%B1%D8%B6-%D8%A7%D9%84%D8%B3%D9%88%D8%AF%D8%A7%D9%86%D9%8A%D8%A9-1080-x-1080-%D8%A8%D9%8A%D9%83%D8%B3%D9%84-300x300.png\"\n      },\n      {\n        id: \"sesame_oil\",\n        name: \"زيت سمسم سوداني فاخر طبيعي 100% – عصر بارد | بترينا\",\n        sku: \"BAT-SES-500\",\n        description: \"زيت سمسم طبيعي 100% معصور على البارد، يتميز بالنقاء والطعم الأصيل والجودة العالية.\",\n        available_sizes: [{ size: \"500 مل\", price: 30 }],\n        only_available_size: \"500 مل\",\n        strict_note: \"زيت السمسم متوفر فقط بحجم 500 مل بسعر 30 درهم.\",\n        main_image: \"https://buaskoor.ae/wp-content/uploads/2026/02/%D8%B2%D9%8A%D8%AA-%D8%B3%D9%85%D8%B3%D9%85-%D8%B3%D9%88%D8%AF%D8%A7%D9%86%D9%8A-%D9%81%D8%A7%D8%AE%D8%B1-300x300.png\"\n      }\n    ]\n  },\n\n  sales_guidance: {\n    if_customer_likes_strong_coffee: \"رشح القهوة السوداء\",\n    if_customer_wants_daily_balanced_coffee: \"رشح القهوة البنية\",\n    if_customer_wants_light_arabic_coffee: \"رشح القهوة الشقراء\",\n    do_not_show_all_products_unless_requested: true,\n    ask_missing_order_fields_only: true\n  }\n};\n\nreturn JSON.stringify(data);"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        176,
        880
      ],
      "name": "knowledge_base"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_DATA_TABLE_ID",
          "mode": "list",
          "cachedResultName": "chat_sessions"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $json.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -976,
        -16
      ],
      "name": "Get row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8b234cde-bf0b-46ec-8d54-05342a48d21a",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        288
      ],
      "name": "Session Exists?"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_DATA_TABLE_ID",
          "mode": "list",
          "cachedResultName": "chat_sessions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('Code in JavaScript').item.json.phone }}",
            "state": "browsing",
            "last_user_message": "={{ $('Code in JavaScript').item.json.text }}",
            "catalog_sent": "off",
            "last_message_id": "={{ $('Code in JavaScript').item.json.message_id }}",
            "last_message_time": "={{ $('Code in JavaScript').item.json.message_time }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "area",
              "displayName": "area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_category",
              "displayName": "selected_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_product",
              "displayName": "selected_product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_weight",
              "displayName": "selected_weight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "order_summary",
              "displayName": "order_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_user_message",
              "displayName": "last_user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_bot_message",
              "displayName": "last_bot_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_order_date",
              "displayName": "last_order_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "history",
              "displayName": "history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "catalog_sent",
              "displayName": "catalog_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cart",
              "displayName": "cart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_message_id",
              "displayName": "last_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_message_time",
              "displayName": "last_message_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -480,
        368
      ],
      "name": "Insert row"
    },
    {
      "parameters": {
        "jsCode": "const current = $('Code in JavaScript').first().json;\n\nlet session = $json || {};\n\nif (Array.isArray(session)) {\n  session = session[0] || {};\n}\n\nconst history = session.history || '';\nconst textRaw = current.text || '';\nconst text = textRaw.trim().toLowerCase();\n\nconst greetings = [\n  'هلا',\n  'مرحبا',\n  'السلام عليكم',\n  'السلام',\n  'صباح الخير',\n  'مساء الخير',\n  'حياك',\n  'هاي',\n  'hello',\n  'hi'\n];\n\nconst isGreeting = greetings.includes(text);\nconst cleanHistory = isGreeting ? '' : history;\n\nlet route_type = 'ai';\nlet new_state = session.state || 'browsing';\nlet support_message = '';\n\nif (session.catalog_sent !== 'on' || (isGreeting && (session.state === 'browsing' || session.state === 'confirmed'))) {\n  route_type = 'welcome';\n  new_state = 'welcome';\n\n  support_message = `هلا والله في متجر بوعسكور 🤎\n\nتقدر تتصفح المنيو التفاعلي من هنا:\nhttps://buaskoor.ae/shop/\n\nومن داخل المنيو تقدر ترسل طلبك مباشرة عبر واتساب بكل سهولة 🌿\n\nوإذا احتجت أي مساعدة، اختر:\n\n2️⃣ للتواصل مع موظف بشري.\n\n3️⃣ للاستفسار عن طلب سابق.`;\n}\n\nif (text === '2') {\n  route_type = 'human_requested';\n  new_state = 'human_requested';\n\n  support_message = `تم، بنحولك لموظف بشري الآن 🤎\n\nبيتواصل معك أحد من الفريق بعد قليل.`;\n}\n\nif (text === '3') {\n  route_type = 'order_inquiry_waiting';\n  new_state = 'order_inquiry_waiting';\n\n  support_message = `أكيد 🌿\nأرسل لنا رقم هاتف الطلب، ورقم الطلب إذا متوفر.`;\n}\n\nif (session.state === 'order_inquiry_waiting' && text !== '3') {\n  route_type = 'order_inquiry_received';\n  new_state = 'order_inquiry_received';\n\n  support_message = `شكراً لك 🤎\nتم استلام بيانات الاستفسار، وبيتواصل معك أحد من الفريق بعد قليل.`;\n}\n\nreturn [{\n  json: {\n    phone: current.phone,\n    text: current.text,\n    session,\n\n    route_type,\n    new_state,\n    support_message,\n\n    prompt: `\nرسالة العميل الحالية:\n${current.text}\n\nبيانات الجلسة:\n${JSON.stringify(session)}\n\nآخر المحادثات:\n${cleanHistory}\n\nتعليمات مهمة:\n\n- إذا كان العميل في مسار طلب أو استفسار، استكمل معه ولا تبدأ من جديد.\n- لا تمسح بيانات الجلسة المحفوظة.\n- لا تمسح catalog_sent.\n- لا تمسح بيانات الطلب المحفوظة.\n- إذا كان هناك طلب قيد التنفيذ فاستكمله.\n- إذا كانت بيانات العميل محفوظة فلا تطلبها مرة أخرى.\n- استخدم آخر المحادثات فقط لفهم السياق.\n- لا تعرض رسالة الترحيب إذا كان العميل يكمل طلباً.\n- لا ترسل روابط إلا إذا طلب العميل ذلك صراحة.\n`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        272
      ],
      "name": "Build Agent Context"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_DATA_TABLE_ID",
          "mode": "list",
          "cachedResultName": "chat_sessions"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $('Extract Order Fields').item.json.phone }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "last_user_message": "={{ $('Extract Order Fields').item.json.last_user_message }}",
            "last_bot_message": "={{ $('Extract Order Fields').item.json.last_bot_message }}",
            "state": "={{ $('Extract Order Fields').item.json.state }}",
            "history": "={{ $('Extract Order Fields').item.json.history }}",
            "selected_product": "={{ $('Extract Order Fields').item.json.selected_product }}",
            "selected_weight": "={{ $('Extract Order Fields').item.json.selected_weight }}",
            "quantity": "={{ $('Extract Order Fields').item.json.quantity }}",
            "area": "={{ $('Extract Order Fields').item.json.area }}",
            "payment_method": "={{ $('Extract Order Fields').item.json.payment_method }}",
            "customer_name": "={{ $('Extract Order Fields').item.json.customer_name }}",
            "address": "={{ $('Extract Order Fields').item.json.address }}",
            "selected_category": "={{ $('Extract Order Fields').item.json.selected_category }}",
            "order_summary": "={{ $('Extract Order Fields').item.json.order_summary }}",
            "cart": "={{ $('Extract Order Fields').item.json.cart }}",
            "last_message_id": "={{ $('Code in JavaScript').item.json.message_id }}",
            "last_message_time": "={{ $('Code in JavaScript').item.json.message_time }}",
            "grand_total": "={{ $('Extract Order Fields').item.json.grand_total }}",
            "items_total": "={{ $('Extract Order Fields').item.json.items_total }}",
            "shipping_cost": "={{ $('Extract Order Fields').item.json.shipping_cost }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "area",
              "displayName": "area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_category",
              "displayName": "selected_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_product",
              "displayName": "selected_product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_weight",
              "displayName": "selected_weight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "order_summary",
              "displayName": "order_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_user_message",
              "displayName": "last_user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_bot_message",
              "displayName": "last_bot_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_order_date",
              "displayName": "last_order_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "history",
              "displayName": "history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "catalog_sent",
              "displayName": "catalog_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cart",
              "displayName": "cart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_message_id",
              "displayName": "last_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_message_time",
              "displayName": "last_message_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "order_created",
              "displayName": "order_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "woo_order_id",
              "displayName": "woo_order_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "woo_order_status",
              "displayName": "woo_order_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "items_total",
              "displayName": "items_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "shipping_cost",
              "displayName": "shipping_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "grand_total",
              "displayName": "grand_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        752,
        752
      ],
      "name": "Update Session"
    },
    {
      "parameters": {
        "jsCode": "// =====================================================\n// Extract Order Fields - Final Safe Version\n// يدعم:\n// 1) رسائل العميل العادية\n// 2) طلبات المنيو التفاعلي NEW_BUASKOOR_ORDER\n// الدفع دائمًا: الدفع عند الاستلام\n// =====================================================\n\nconst current = $('Code in JavaScript').first().json;\nconst ai = $('AI Agent').first().json;\nconst context = $('Build Agent Context').first().json;\nconst session = context.session || {};\n\n// =====================================================\n// Helpers\n// =====================================================\n\nfunction normalizeArabicNumerals(str) {\n  const arabicIndic = '٠١٢٣٤٥٦٧٨٩';\n  const easternArabic = '۰۱۲۳۴۵۶۷۸۹';\n\n  return (str || '').replace(/[٠-٩۰-۹]/g, d => {\n    let idx = arabicIndic.indexOf(d);\n    if (idx > -1) return idx.toString();\n\n    idx = easternArabic.indexOf(d);\n    if (idx > -1) return idx.toString();\n\n    return d;\n  });\n}\n\nfunction normalizeText(str) {\n  return (str || '')\n    .toLowerCase()\n    .replace(/[أإآ]/g, 'ا')\n    .replace(/ى/g, 'ي')\n    .replace(/ة/g, 'ه')\n    .replace(/[ًٌٍَُِّْ]/g, '')\n    .trim();\n}\n\nfunction parseCart(value) {\n  try {\n    if (!value) return [];\n    if (Array.isArray(value)) return value;\n    return JSON.parse(value);\n  } catch {\n    return [];\n  }\n}\n\nfunction addOrUpdateCart(cart, item) {\n  const index = cart.findIndex(i => i.id === item.id && i.weight === item.weight);\n\n  if (index >= 0) {\n    cart[index].quantity = String(Number(cart[index].quantity || 0) + Number(item.quantity || 1));\n    cart[index].price = item.price;\n  } else {\n    cart.push(item);\n  }\n\n  return cart;\n}\n\nfunction removeFromCart(cart, id) {\n  return cart.filter(i => i.id !== id);\n}\n\n// =====================================================\n// Products / Prices\n// =====================================================\n\nconst priceTable = {\n  black_coffee: { '250g': 35, '500g': 65, '1kg': 125 },\n  brown_coffee: { '250g': 30, '500g': 55, '1kg': 110 },\n  blonde_coffee: { '250g': 40, '500g': 75, '1kg': 140 },\n  hibiscus: { '250g': 20 },\n  sesame_oil: { '500ml': 30 },\n  tea_bag: { 'عبوة': 17 },\n  tea_bag_plus: { 'عبوة': 17 },\n  tea_aseel: { 'عبوة': 30 },\n  tea_op1: { 'عبوة': 30 },\n  iraqi_tea: { 'عبوة': 20 }\n};\n\nconst productRules = [\n  {\n    id: 'hibiscus',\n    product: 'كركديه سوداني فاخر',\n    category: 'batrina',\n    keywords: ['كركديه', 'كركدي'],\n    fixedWeight: '250g'\n  },\n  {\n    id: 'sesame_oil',\n    product: 'زيت سمسم سوداني فاخر',\n    category: 'batrina',\n    keywords: ['زيت سمسم', 'سمسم'],\n    fixedWeight: '500ml'\n  },\n  {\n    id: 'tea_bag_plus',\n    product: 'شاي تعليقة بلس',\n    category: 'tea',\n    keywords: ['شاي تعليقة بلس', 'تعليقة بلس'],\n    fixedWeight: 'عبوة'\n  },\n  {\n    id: 'tea_bag',\n    product: 'شاي تعليقة',\n    category: 'tea',\n    keywords: ['شاي تعليقة', 'تعليقة'],\n    fixedWeight: 'عبوة'\n  },\n  {\n    id: 'tea_aseel',\n    product: 'شاي تلقيمة أصيل',\n    category: 'tea',\n    keywords: ['تلقيمة أصيل', 'اصيل', 'أصيل'],\n    fixedWeight: 'عبوة'\n  },\n  {\n    id: 'tea_op1',\n    product: 'شاي تلقيمة سبيشل OP1',\n    category: 'tea',\n    keywords: ['op1', 'سبيشل'],\n    fixedWeight: 'عبوة'\n  },\n  {\n    id: 'iraqi_tea',\n    product: 'شاي عراقي نخب أول',\n    category: 'tea',\n    keywords: ['شاي عراقي', 'عراقي'],\n    fixedWeight: 'عبوة'\n  },\n  {\n    id: 'black_coffee',\n    product: 'قهوة بوعسكور العربية السوداء',\n    category: 'coffee',\n    keywords: ['قهوة بوعسكور العربية السوداء', 'قهوة سوداء', 'السوداء', 'سوداء', 'سودا', 'سود']\n  },\n  {\n    id: 'brown_coffee',\n    product: 'قهوة بوعسكور العربية البنية',\n    category: 'coffee',\n    keywords: ['قهوة بوعسكور العربية البنية', 'قهوة بنية', 'البنية', 'بنية', 'بني']\n  },\n  {\n    id: 'blonde_coffee',\n    product: 'قهوة بوعسكور العربية الشقراء',\n    category: 'coffee',\n    keywords: ['قهوة بوعسكور العربية الشقراء', 'قهوة شقراء', 'الشقراء', 'شقرا', 'شقراء']\n  }\n];\n\nfunction getPrice(id, weight) {\n  return priceTable[id]?.[weight] || 0;\n}\n\nfunction mapProductFromName(name) {\n  const n = normalizeText(name);\n\n  if (n.includes('كركديه') || n.includes('كركدي')) {\n    return productRules.find(r => r.id === 'hibiscus');\n  }\n\n  if (n.includes('زيت سمسم') || n.includes('سمسم')) {\n    return productRules.find(r => r.id === 'sesame_oil');\n  }\n\n  if (n.includes('تعليقة بلس')) {\n    return productRules.find(r => r.id === 'tea_bag_plus');\n  }\n\n  if (n.includes('تعليقة')) {\n    return productRules.find(r => r.id === 'tea_bag');\n  }\n\n  if (n.includes('اصيل') || n.includes('أصيل')) {\n    return productRules.find(r => r.id === 'tea_aseel');\n  }\n\n  if (n.includes('op1') || n.includes('سبيشل')) {\n    return productRules.find(r => r.id === 'tea_op1');\n  }\n\n  if (n.includes('عراقي')) {\n    return productRules.find(r => r.id === 'iraqi_tea');\n  }\n\n  if (n.includes('السوداء') || n.includes('سوداء')) {\n    return productRules.find(r => r.id === 'black_coffee');\n  }\n\n  if (n.includes('البنية') || n.includes('بنية')) {\n    return productRules.find(r => r.id === 'brown_coffee');\n  }\n\n  if (n.includes('الشقراء') || n.includes('شقرا') || n.includes('شقراء')) {\n    return productRules.find(r => r.id === 'blonde_coffee');\n  }\n\n  for (const rule of productRules) {\n    if (rule.keywords.some(k => n.includes(normalizeText(k)))) {\n      return rule;\n    }\n  }\n\n  return null;\n}\n\nfunction normalizeWeight(weightText, productId = '') {\n  const t = normalizeText(weightText);\n\n  if (productId === 'hibiscus') return '250g';\n  if (productId === 'sesame_oil') return '500ml';\n\n  if (['tea_bag', 'tea_bag_plus', 'tea_aseel', 'tea_op1', 'iraqi_tea'].includes(productId)) {\n    return 'عبوة';\n  }\n\n  if (t.includes('250')) return '250g';\n  if (t.includes('500') && t.includes('مل')) return '500ml';\n  if (t.includes('500')) return '500g';\n  if (t.includes('1 كيلو') || t.includes('1kg') || t.includes('كيلو') || t.includes('كجم')) return '1kg';\n  if (t.includes('عبوة')) return 'عبوة';\n\n  return '';\n}\n\n// =====================================================\n// AI Output\n// =====================================================\n\nlet parsedAI = {};\nlet cleanOutput = (ai.output || '{}').trim();\n\ncleanOutput = cleanOutput\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/, '')\n  .replace(/```$/, '')\n  .trim();\n\ntry {\n  parsedAI = JSON.parse(cleanOutput);\n} catch {\n  parsedAI = {\n    route: 'send_text',\n    message: ai.output || '',\n    product_id: '',\n    media_url: ''\n  };\n}\n\nlet route = parsedAI.route || 'send_text';\nlet botMessage = parsedAI.message || ai.output || '';\nconst product_id = parsedAI.product_id || '';\nconst media_url = parsedAI.media_url || '';\n\n// =====================================================\n// Current Message\n// =====================================================\n\nconst originalText = current.text || '';\nconst rawText = normalizeArabicNumerals(originalText);\nconst text = normalizeText(rawText);\n\n// =====================================================\n// Parse Store Order\n// =====================================================\n\nfunction parseStoreOrder(rawText) {\n  if (!rawText.includes('NEW_BUASKOOR_ORDER')) return null;\n\n  const lines = rawText.split('\\n').map(l => l.trim()).filter(Boolean);\n\n  const getValue = label => {\n    const line = lines.find(l => l.toLowerCase().startsWith(label.toLowerCase()));\n    return line ? line.replace(new RegExp(`^${label}`, 'i'), '').trim() : '';\n  };\n\n  const customer_name = getValue('Customer Name:');\n  const address = getValue('Address:');\n  const phoneText = getValue('Phone:');\n  const notes = getValue('Notes:');\n\n  const cart = [];\n\n  for (const line of lines) {\n    if (!line.startsWith('-')) continue;\n\n    const qtyMatch = line.match(/Qty:\\s*(\\d+)/i);\n    const priceMatch = line.match(/Unit Price:\\s*(\\d+)/i);\n\n    const quantity = qtyMatch ? qtyMatch[1] : '1';\n    const unitPrice = priceMatch ? Number(priceMatch[1]) : 0;\n\n    const cleanLine = line.replace(/^-/, '').trim();\n    const parts = cleanLine.split('|').map(p => p.trim());\n\n    const productName = parts[0] || '';\n    const weightText = parts[1] || '';\n\n    const rule = mapProductFromName(productName);\n    if (!rule) continue;\n\n    const weight = normalizeWeight(weightText, rule.id);\n    const price = unitPrice || getPrice(rule.id, weight);\n\n    cart.push({\n      id: rule.id,\n      product: rule.product,\n      category: rule.category,\n      weight,\n      quantity,\n      price\n    });\n  }\n\n  return {\n    customer_name,\n    address,\n    phoneText,\n    notes,\n    cart\n  };\n}\n\nconst storeOrder = parseStoreOrder(rawText);\n\n// =====================================================\n// Normal Conversation Parser\n// =====================================================\n\nfunction splitIntoSegments(str) {\n  const segments = [];\n  const regex = /\\s+و\\s+|,|،|\\n/g;\n\n  let lastIndex = 0;\n  let match;\n\n  while ((match = regex.exec(str)) !== null) {\n    segments.push({\n      start: lastIndex,\n      end: match.index,\n      text: str.slice(lastIndex, match.index)\n    });\n\n    lastIndex = regex.lastIndex;\n  }\n\n  segments.push({\n    start: lastIndex,\n    end: str.length,\n    text: str.slice(lastIndex)\n  });\n\n  return segments;\n}\n\nfunction findSegment(segments, position) {\n  return segments.find(s => position >= s.start && position < s.end) || { text };\n}\n\nfunction detectProducts(text) {\n  const allMatches = [];\n\n  for (const rule of productRules) {\n    for (const keyword of rule.keywords) {\n      const kw = normalizeText(keyword);\n      let from = 0;\n      let idx;\n\n      while ((idx = text.indexOf(kw, from)) !== -1) {\n        allMatches.push({\n          ...rule,\n          keyword: kw,\n          start: idx,\n          end: idx + kw.length\n        });\n        from = idx + kw.length;\n      }\n    }\n  }\n\n  allMatches.sort((a, b) => {\n    const lenDiff = (b.end - b.start) - (a.end - a.start);\n    if (lenDiff !== 0) return lenDiff;\n    return a.start - b.start;\n  });\n\n  const selected = [];\n  const occupied = [];\n\n  for (const m of allMatches) {\n    const overlaps = occupied.some(([s, e]) => m.start < e && m.end > s);\n\n    if (!overlaps) {\n      selected.push(m);\n      occupied.push([m.start, m.end]);\n    }\n  }\n\n  return selected.sort((a, b) => a.start - b.start);\n}\n\nfunction detectCoffeeWeight(segmentText) {\n  const t = normalizeText(segmentText);\n\n  if (/(^|[^0-9])250([^0-9]|$)/.test(t) || t.includes('ربع كيلو') || t.includes('صغير')) {\n    return '250g';\n  }\n\n  if (/(^|[^0-9])500([^0-9]|$)/.test(t) || t.includes('نص كيلو') || t.includes('نصف كيلو') || t.includes('وسط')) {\n    return '500g';\n  }\n\n  if (t.includes('كيلو') || t.includes('كجم') || t.includes('كبير')) {\n    return '1kg';\n  }\n\n  return '';\n}\n\nfunction detectQuantity(segmentText) {\n  const t = normalizeText(segmentText);\n\n  const qtyPatterns = [\n    /qty:\\s*(\\d+)/i,\n    /الكمية\\s*[:=]?\\s*(\\d+)/i,\n    /عدد\\s*[:=]?\\s*(\\d+)/i\n  ];\n\n  for (const p of qtyPatterns) {\n    const m = segmentText.match(p);\n    if (m?.[1]) return m[1];\n  }\n\n  const wordNumbers = {\n    'حبتين': '2',\n    'قطعتين': '2',\n    'علبتين': '2',\n    'كيسين': '2',\n    'عبوتين': '2',\n    'اثنين': '2',\n    'ثنين': '2',\n    'اثنان': '2',\n    'ثلاثة': '3',\n    'ثلاث': '3',\n    'اربعة': '4',\n    'اربع': '4',\n    'خمسة': '5',\n    'خمس': '5',\n    'ستة': '6',\n    'ست': '6',\n    'سبعة': '7',\n    'سبع': '7',\n    'ثمانية': '8',\n    'ثمان': '8',\n    'تسعة': '9',\n    'تسع': '9',\n    'عشرة': '10',\n    'عشر': '10',\n    'واحد': '1',\n    'وحدة': '1',\n    'حبة': '1'\n  };\n\n  for (const [word, num] of Object.entries(wordNumbers)) {\n    if (t.includes(word)) return num;\n  }\n\n  const allNumbers = [...t.matchAll(/\\d+/g)].map(m => m[0]);\n\n  for (const num of allNumbers) {\n    const isWeightNumber =\n      ['250', '500', '1000'].includes(num) ||\n      (num === '1' && (t.includes('كيلو') || t.includes('كجم') || t.includes('kg')));\n\n    if (isWeightNumber) continue;\n\n    return num;\n  }\n\n  return '1';\n}\n\nfunction detectPayment() {\n  return {\n    method: 'الدفع عند الاستلام',\n    explicit: true\n  };\n}\n\nfunction detectArea(text) {\n  const areas = [\n    'العين', 'ابوظبي', 'أبوظبي', 'دبي', 'الشارقة', 'عجمان',\n    'الفجيرة', 'راس الخيمة', 'رأس الخيمة', 'ام القيوين', 'أم القيوين',\n    'الظفرة', 'المنطقة الغربية', 'زاخر', 'الهيلي', 'اليحر',\n    'الجاهلي', 'المقام', 'الطوية', 'الخبيصي', 'القوع', 'الوقن',\n    'المرفأ', 'السلع', 'مدينة زايد', 'ليوا', 'دلما'\n  ];\n\n  const found = areas.find(a => text.includes(normalizeText(a)));\n  return found || session.area || '';\n}\n\nfunction detectName(rawText) {\n  const patterns = [\n    /اسمي\\s+([^\\n،,.]+)/i,\n    /الاسم\\s+([^\\n،,.]+)/i,\n    /انا\\s+([^\\n،,.]+)/i,\n    /أنا\\s+([^\\n،,.]+)/i\n  ];\n\n  for (const p of patterns) {\n    const m = rawText.match(p);\n    if (m?.[1]) return m[1].trim();\n  }\n\n  return session.customer_name || '';\n}\n\nfunction detectAddress(rawText) {\n  const cleanedText = rawText\n    .split('\\n')\n    .map(l => l.trim())\n    .filter(Boolean)\n    .filter(line =>\n      !/^اسمي\\s+/i.test(line) &&\n      !/^الاسم\\s+/i.test(line) &&\n      !/^انا\\s+/i.test(line) &&\n      !/^أنا\\s+/i.test(line)\n    )\n    .join(' ')\n    .trim();\n\n  const lower = normalizeText(cleanedText);\n\n  const keywords = [\n    'العنوان', 'موقعي', 'الموقع', 'اللوكيشن', 'location',\n    'شارع', 'بناية', 'فيلا', 'بيت', 'زاخر', 'الهيلي',\n    'اليحر', 'الجاهلي', 'المقام', 'الطوية', 'الخبيصي',\n    'العين', 'ابوظبي', 'دبي', 'الشارقة', 'عجمان',\n    'الفجيرة', 'راس الخيمة', 'ام القيوين', 'القوع',\n    'الوقن', 'المنطقة الغربية', 'المرفأ', 'الظفرة',\n    'السلع', 'مدينة زايد', 'ليوا', 'دلما'\n  ];\n\n  if (keywords.some(k => lower.includes(normalizeText(k)))) {\n    return cleanedText;\n  }\n\n  return session.address || '';\n}\n\nfunction getShippingCost(address, area) {\n  const haystack = normalizeText(`${address || ''} ${area || ''}`);\n\n  const westernAreas = [\n    'القوع',\n    'الوقن',\n    'المنطقة الغربية',\n    'المرفأ',\n    'الظفرة',\n    'السلع',\n    'مدينة زايد',\n    'ليوا',\n    'دلما'\n  ].map(normalizeText);\n\n  return westernAreas.some(a => haystack.includes(a)) ? 30 : 18;\n}\n\n// =====================================================\n// Build Cart\n// =====================================================\n\nlet cart = storeOrder ? storeOrder.cart : parseCart(session.cart);\n\nconst orderWords = [\n  'عطني', 'اعطني', 'ابي', 'ابغى', 'اريد', 'اطلب',\n  'طلب', 'جهز', 'خذ', 'واحد', 'وحدة', 'حبة',\n  'حبتين', 'اثنين', 'ثنين', 'ثلاثة', 'ثلاث',\n  'اربعة', 'خمسة', 'كيلو', 'نص كيلو', 'نصف كيلو'\n];\n\nconst removalWords = [\n  'شيل', 'احذف', 'حذف', 'الغاء', 'إلغاء',\n  'بدون', 'ازل', 'أزل', 'كنسل'\n];\n\nconst isOrderIntent =\n  Boolean(storeOrder) ||\n  orderWords.some(w => text.includes(normalizeText(w))) ||\n  session.state === 'ordering';\n\nconst isRemovalIntent = removalWords.some(w => text.includes(normalizeText(w)));\n\nlet currentProduct = session.selected_product || '';\nlet currentWeight = session.selected_weight || '';\nlet currentQuantity = session.quantity || '';\nlet selected_category = session.selected_category || '';\n\nif (!storeOrder) {\n  const detectedProducts = detectProducts(text);\n  const segments = splitIntoSegments(text);\n\n  for (const item of detectedProducts) {\n    const segment = findSegment(segments, item.start);\n    const segmentText = segment.text || '';\n    const segmentNorm = normalizeText(segmentText);\n\n    const segmentHasRemoval = removalWords.some(w => segmentNorm.includes(normalizeText(w)));\n\n    if (segmentHasRemoval || isRemovalIntent) {\n      cart = removeFromCart(cart, item.id);\n\n      if (currentProduct === item.product) {\n        currentProduct = '';\n        currentWeight = '';\n        currentQuantity = '';\n        selected_category = '';\n      }\n\n      continue;\n    }\n\n    if (!isOrderIntent) continue;\n\n    let weight = item.fixedWeight || '';\n\n    if (item.category === 'coffee') {\n      weight = detectCoffeeWeight(segmentText);\n    }\n\n    const quantity = detectQuantity(segmentText);\n\n    if (weight) {\n      const price = getPrice(item.id, weight);\n\n      cart = addOrUpdateCart(cart, {\n        id: item.id,\n        product: item.product,\n        category: item.category,\n        weight,\n        quantity,\n        price\n      });\n\n      if (currentProduct === item.product) {\n        currentProduct = '';\n        currentWeight = '';\n        currentQuantity = '';\n        selected_category = '';\n      }\n    } else if (!currentProduct) {\n      currentProduct = item.product;\n      currentWeight = '';\n      currentQuantity = quantity;\n      selected_category = item.category;\n    }\n  }\n} else {\n  currentProduct = '';\n  currentWeight = '';\n  currentQuantity = '';\n  selected_category = '';\n}\n\n// =====================================================\n// Customer Data\n// =====================================================\n\nconst customer_name = storeOrder?.customer_name || detectName(rawText);\nconst area = detectArea(text);\nconst address = storeOrder?.address || detectAddress(rawText);\n\nconst paymentInfo = detectPayment();\nconst payment_method = paymentInfo.method;\n\nconst items_total = cart.reduce((sum, item) => {\n  return sum + Number(item.price || 0) * Number(item.quantity || 1);\n}, 0);\n\nconst shipping_cost = cart.length ? getShippingCost(address, area) : 0;\nconst grand_total = items_total + shipping_cost;\n\n// =====================================================\n// State\n// =====================================================\n\nlet state = cart.length ? 'ordering' : (session.state || 'browsing');\n\nif (cart.length && customer_name && address && !currentProduct) {\n  state = 'ready_to_confirm';\n}\n\nfunction isConfirmation(rawText) {\n  const t = normalizeText(rawText);\n\n  if (!t) return false;\n  if (['👍', '👌', '✅'].some(e => rawText.includes(e))) return true;\n  if (t.length > 15) return false;\n\n  const confirmWords = [\n    'تم', 'تمام', 'موافق', 'اوكي', 'اوكيه',\n    'اكيد', 'ايوا', 'ايوه', 'نعم', 'ok', 'okay'\n  ];\n\n  return confirmWords.some(w => t === normalizeText(w) || t.includes(normalizeText(w)));\n}\n\nif (session.state === 'ready_to_confirm' && isConfirmation(rawText)) {\n  state = 'confirmed';\n\n  botMessage = `شكراً جزيلاً 🤎\n\nتم استلام طلبكم بنجاح وهو الآن قيد التجهيز.\n\nبالهنا والعافية عليكم 🌿\n\nوتشرفنا بخدمتكم ونتطلع لخدمتكم مرة أخرى.`;\n\n  route = 'send_text';\n}\n\n// =====================================================\n// Summary\n// =====================================================\n\nconst cartSummary = cart.map((item, i) => {\n  const lineTotal = Number(item.price || 0) * Number(item.quantity || 1);\n  return `${i + 1}. ${item.product} - ${item.weight} - الكمية: ${item.quantity} - ${lineTotal} درهم`;\n}).join('\\n');\n\nconst order_summary = cart.length\n  ? `\nالطلب:\n${cartSummary}\n\nالمجموع: ${items_total} درهم\nالتوصيل: ${shipping_cost} درهم\nالإجمالي: ${grand_total} درهم\n\nالاسم: ${customer_name || ''}\nالمنطقة: ${area || ''}\nالعنوان: ${address || ''}\nالدفع: ${payment_method}\n`.trim()\n  : session.order_summary || '';\n\n// =====================================================\n// Final Bot Message\n// =====================================================\n\nif (cart.length && (isOrderIntent || isRemovalIntent) && state !== 'confirmed') {\n  let finalMessage = `تم استلام طلبك من المنيو 🌿\n\nالطلب الحالي:\n${cartSummary}\n\nالمجموع: ${items_total} درهم\nالتوصيل: ${shipping_cost} درهم\nالإجمالي: ${grand_total} درهم`;\n\n  if (currentProduct && !currentWeight) {\n    finalMessage += `\n\nباقي نحدد وزن:\n${currentProduct}\n\nالأحجام المتوفرة:\n250 جم\n500 جم\n1 كجم`;\n  } else if (!customer_name || !address) {\n    finalMessage += `\n\nلإكمال الطلب أرسل:\nالاسم:\nالعنوان:`;\n  } else {\n    finalMessage += `\n\nالاسم: ${customer_name}\nالعنوان: ${address}\nطريقة الدفع: ${payment_method}\n\nإذا كل شي صحيح اكتب: تم\nوسنبدأ مباشرة بتجهيز الطلب 🌿`;\n\n    state = 'ready_to_confirm';\n  }\n\n  botMessage = finalMessage;\n  route = 'send_text';\n}\n\n// =====================================================\n// History\n// =====================================================\n\nconst newTurn = `العميل: ${originalText}\\nالمساعد: ${botMessage}`;\nconst historyTurns = (session.history || '').split('\\n---\\n').filter(Boolean);\nhistoryTurns.push(newTurn);\nconst history = historyTurns.slice(-6).join('\\n---\\n');\n\n// =====================================================\n// Output\n// =====================================================\n\nreturn [{\n  json: {\n    ...session,\n\n    phone: current.phone,\n    state,\n\n    cart: JSON.stringify(cart),\n\n    selected_category,\n    selected_product: currentProduct,\n    selected_weight: currentWeight,\n    quantity: currentQuantity,\n\n    customer_name,\n    area,\n    address,\n    payment_method,\n\n    order_summary,\n    items_total,\n    shipping_cost,\n    grand_total,\n\n    route,\n    product_id,\n    media_url,\n\n    last_user_message: originalText,\n    last_bot_message: botMessage,\n    output: botMessage,\n\n    history\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        736
      ],
      "name": "Extract Order Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_DATA_TABLE_ID",
          "mode": "list",
          "cachedResultName": "chat_sessions"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $('Code in JavaScript').item.json.phone }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "catalog_sent": "on",
            "state": "={{ $('Build Agent Context').item.json.new_state }}",
            "last_user_message": "={{ $('Build Agent Context').item.json.text }}",
            "last_bot_message": "={{ $('Build Agent Context').item.json.support_message }}",
            "last_message_id": "={{ $('Code in JavaScript').item.json.message_id }}",
            "last_message_time": "={{ $('Code in JavaScript').item.json.message_time }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "area",
              "displayName": "area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_category",
              "displayName": "selected_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_product",
              "displayName": "selected_product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_weight",
              "displayName": "selected_weight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "order_summary",
              "displayName": "order_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_user_message",
              "displayName": "last_user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_bot_message",
              "displayName": "last_bot_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_order_date",
              "displayName": "last_order_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "history",
              "displayName": "history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "catalog_sent",
              "displayName": "catalog_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cart",
              "displayName": "cart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_message_id",
              "displayName": "last_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_message_time",
              "displayName": "last_message_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        272,
        -64
      ],
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "send_image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5b452563-0360-4325-895e-f91e67f67482"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4c9f38ea-6c6d-40da-bee9-a446789d6261",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "send_text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        464,
        736
      ],
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-image",
        "instanceName": "n8n bu",
        "remoteJid": "={{ $json.phone }}",
        "media": "={{ $json.media_url }}",
        "caption": "={{ $json.last_bot_message }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        608,
        656
      ],
      "name": "Enviar imagem"
    },
    {
      "parameters": {
        "jsCode": "const phone = $json.phone || \"\";\n\nconst countries = [\n  { code: \"966\", name: \"السعودية\" },\n  { code: \"974\", name: \"قطر\" },\n  { code: \"965\", name: \"الكويت\" },\n  { code: \"973\", name: \"البحرين\" },\n  { code: \"968\", name: \"عُمان\" },\n  { code: \"20\", name: \"مصر\" },\n  { code: \"249\", name: \"السودان\" },\n  { code: \"962\", name: \"الأردن\" },\n  { code: \"961\", name: \"لبنان\" },\n  { code: \"964\", name: \"العراق\" }\n];\n\nconst found = countries.find(c => phone.startsWith(c.code));\n\nconst country = found ? found.name : \"بلدكم\";\n\nconst message =\n`هلا والله حياكم الله من ${country} 🌿\n\nنعتذر منكم، البيع حالياً متوفر داخل الإمارات فقط.\n\nوقريباً بإذن الله نوفر الطلبات في ${country} ونشرف بخدمتكم 🤎`;\n\nreturn [{\n  json: {\n    ...$json,\n    country,\n    last_bot_message: message,\n\n    state: \"unsupported_country\",\n    last_user_message: $json.text,\n    history:\n      `العميل (${phone} - ${country}): ${$json.text}\\n` +\n      `المساعد: ${message}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        544
      ],
      "name": "Detect Country"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n bu",
        "remoteJid": "={{ $json.phone }}",
        "messageText": "={{ $json.last_bot_message }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -448,
        560
      ],
      "name": "Enviar texto1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_DATA_TABLE_ID",
          "mode": "list",
          "cachedResultName": "chat_sessions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('Detect Country').item.json.phone }}",
            "state": "unsupported_country",
            "country": "={{ $('Detect Country').item.json.country }}",
            "last_user_message": "={{ $('Detect Country').item.json.last_user_message }}",
            "last_bot_message": "={{ $('Detect Country').item.json.last_bot_message }}",
            "history": "={{ $('Detect Country').item.json.history }}",
            "customer_name": "={{ $('Detect Country').item.json.pushName }}",
            "area": "={{ $('Detect Country').item.json.country }}",
            "address": "={{ $('Detect Country').item.json.country }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "area",
              "displayName": "area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_category",
              "displayName": "selected_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_product",
              "displayName": "selected_product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_weight",
              "displayName": "selected_weight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "order_summary",
              "displayName": "order_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_user_message",
              "displayName": "last_user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_bot_message",
              "displayName": "last_bot_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_order_date",
              "displayName": "last_order_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "history",
              "displayName": "history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "catalog_sent",
              "displayName": "catalog_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cart",
              "displayName": "cart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -608,
        656
      ],
      "name": "Insert row1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8b234cde-bf0b-46ec-8d54-05342a48d21a",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -768,
        544
      ],
      "name": "Session Exists?1"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_DATA_TABLE_ID",
          "mode": "list",
          "cachedResultName": "chat_sessions"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{$json.phone}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "state": "unsupported_country",
            "country": "={{$json.country}}",
            "last_user_message": "={{$json.text}}",
            "last_bot_message": "={{$json.last_bot_message}}",
            "history": "={{$json.history}}",
            "items_total": 0,
            "shipping_cost": 0,
            "grand_total": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "area",
              "displayName": "area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_category",
              "displayName": "selected_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_product",
              "displayName": "selected_product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_weight",
              "displayName": "selected_weight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "order_summary",
              "displayName": "order_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_user_message",
              "displayName": "last_user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_bot_message",
              "displayName": "last_bot_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_order_date",
              "displayName": "last_order_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "history",
              "displayName": "history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "catalog_sent",
              "displayName": "catalog_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cart",
              "displayName": "cart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_message_id",
              "displayName": "last_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_message_time",
              "displayName": "last_message_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "order_created",
              "displayName": "order_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "woo_order_id",
              "displayName": "woo_order_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "woo_order_status",
              "displayName": "woo_order_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "items_total",
              "displayName": "items_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "shipping_cost",
              "displayName": "shipping_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "grand_total",
              "displayName": "grand_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1248,
        528
      ],
      "name": "Update row(s)1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_DATA_TABLE_ID",
          "mode": "list",
          "cachedResultName": "chat_sessions"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $json.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -896,
        544
      ],
      "name": "Get row(s)1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b131aacc-315e-4e9e-91c5-bf3cc9858b47",
              "leftValue": "={{ $json.last_message_id }}",
              "rightValue": "={{ $('Code in JavaScript').item.json.message_id }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -800,
        -16
      ],
      "name": "Duplicate Message?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -624,
        -48
      ],
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dd43c72a-7808-4474-a290-a450317d03ff",
              "leftValue": "={{ $json.state }}",
              "rightValue": "confirmed",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        880,
        752
      ],
      "name": "If1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YOUR_ORDER_CREATION_WORKFLOW_ID",
          "mode": "list",
          "cachedResultName": "My Sub-Workflow 1",
          "cachedResultUrl": "/workflow/YOUR_ORDER_CREATION_WORKFLOW_ID"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1024,
        656
      ],
      "name": "Execute Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1024,
        832
      ],
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b6d55645-558d-4e87-8637-bd95a44953bb",
                    "leftValue": "={{ $json.route_type }}",
                    "rightValue": "welcome",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "486ff829-8fbd-428e-9906-552c06e503c7",
                    "leftValue": "={{ $json.route_type }}",
                    "rightValue": "human_requested",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "770c34cd-b57b-4f63-8448-4cf0e07abf6e",
                    "leftValue": "={{ $json.route_type }}",
                    "rightValue": "order_inquiry_waiting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3efb7987-5f00-4ee3-93d4-471793c5cb2b",
                    "leftValue": "={{ $json.route_type }}",
                    "rightValue": "order_inquiry_received",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "741f31e5-6822-4bd7-8390-51c2c1a03690",
                    "leftValue": "={{ $json.route_type }}",
                    "rightValue": "ai",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -176,
        272
      ],
      "name": "Switch1"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n bu",
        "remoteJid": "={{ $('Code in JavaScript').item.json.phone }}",
        "messageText": "={{ $json.support_message }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        80,
        128
      ],
      "name": "Send Human Message To Customer"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n bu",
        "remoteJid": "YOUR_ADMIN_WHATSAPP_NUMBER",
        "messageText": "=🔔 طلب موظف بشري\n\nرقم العميل:\n{{ $('Code in JavaScript').item.json.phone }}\n\nاسم العميل:\n{{ $('Code in JavaScript').item.json.pushName }}\n\nآخر رسالة:\n{{ $('Code in JavaScript').item.json.text }}\n\nالوقت:\n{{ $('Code in JavaScript').item.json.message_time }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        272,
        128
      ],
      "name": "Send Human Alert To Admin"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_DATA_TABLE_ID",
          "mode": "list",
          "cachedResultName": "chat_sessions"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $('Code in JavaScript').item.json.phone }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "state": "browsing",
            "last_user_message": "={{ $('Build Agent Context').item.json.text }}",
            "last_bot_message": "={{ $('Build Agent Context').item.json.support_message }}",
            "last_message_id": "={{ $('Code in JavaScript').item.json.message_id }}",
            "last_message_time": "={{ $('Code in JavaScript').item.json.message_time }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "area",
              "displayName": "area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_category",
              "displayName": "selected_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_product",
              "displayName": "selected_product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_weight",
              "displayName": "selected_weight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "order_summary",
              "displayName": "order_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_user_message",
              "displayName": "last_user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_bot_message",
              "displayName": "last_bot_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_order_date",
              "displayName": "last_order_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "history",
              "displayName": "history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "catalog_sent",
              "displayName": "catalog_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cart",
              "displayName": "cart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_message_id",
              "displayName": "last_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_message_time",
              "displayName": "last_message_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        464,
        128
      ],
      "name": "Update Human Requested Session"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n bu",
        "remoteJid": "={{ $('Code in JavaScript').item.json.phone }}",
        "messageText": "={{ $json.support_message }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        80,
        320
      ],
      "name": "Ask Order Inquiry Details"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_DATA_TABLE_ID",
          "mode": "list",
          "cachedResultName": "chat_sessions"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $('Code in JavaScript').item.json.phone }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "state": "order_inquiry_waiting",
            "last_user_message": "={{ $('Build Agent Context').item.json.text }}",
            "last_bot_message": "={{ $('Build Agent Context').item.json.support_message }}",
            "last_message_id": "={{ $('Code in JavaScript').item.json.message_id }}",
            "last_message_time": "={{ $('Code in JavaScript').item.json.message_time }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "area",
              "displayName": "area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_category",
              "displayName": "selected_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_product",
              "displayName": "selected_product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_weight",
              "displayName": "selected_weight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "order_summary",
              "displayName": "order_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_user_message",
              "displayName": "last_user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_bot_message",
              "displayName": "last_bot_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_order_date",
              "displayName": "last_order_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "history",
              "displayName": "history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "catalog_sent",
              "displayName": "catalog_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cart",
              "displayName": "cart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_message_id",
              "displayName": "last_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_message_time",
              "displayName": "last_message_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        272,
        320
      ],
      "name": "Update Order Inquiry Waiting Session"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n bu",
        "remoteJid": "={{ $('Code in JavaScript').item.json.phone }}",
        "messageText": "={{ $json.support_message }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        80,
        496
      ],
      "name": "Send Order Inquiry Received To Customer"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n bu",
        "remoteJid": "YOUR_ADMIN_WHATSAPP_NUMBER",
        "messageText": "=📦 استفسار عن طلب سابق\n\nرقم العميل:\n{{ $('Code in JavaScript').item.json.phone }}\n\nاسم العميل:\n{{ $('Code in JavaScript').item.json.pushName }}\n\nبيانات الاستفسار:\n{{ $('Code in JavaScript').item.json.text }}\n\nالوقت:\n{{ $('Code in JavaScript').item.json.message_time }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        224,
        496
      ],
      "name": "Send Order Inquiry Alert To Admin"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_DATA_TABLE_ID",
          "mode": "list",
          "cachedResultName": "chat_sessions"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $('Code in JavaScript').item.json.phone }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "state": "browsing",
            "last_user_message": "={{ $('Build Agent Context').item.json.text }}",
            "last_bot_message": "={{ $('Build Agent Context').item.json.support_message }}",
            "last_message_id": "={{ $('Code in JavaScript').item.json.message_id }}",
            "last_message_time": "={{ $('Code in JavaScript').item.json.message_time }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "area",
              "displayName": "area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_category",
              "displayName": "selected_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_product",
              "displayName": "selected_product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_weight",
              "displayName": "selected_weight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "order_summary",
              "displayName": "order_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_user_message",
              "displayName": "last_user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_bot_message",
              "displayName": "last_bot_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_order_date",
              "displayName": "last_order_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "history",
              "displayName": "history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "catalog_sent",
              "displayName": "catalog_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cart",
              "displayName": "cart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_message_id",
              "displayName": "last_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_message_time",
              "displayName": "last_message_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        416,
        496
      ],
      "name": "Update Order Inquiry Received Session"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8n bu",
        "remoteJid": "={{ $json.phone }}",
        "messageText": "=هلا والله في متجر بوعسكور\n\nالمنيو التفاعلي:\nbuaskoor.ae/shop\n\nمن داخل المنيو تقدر ترسل طلبك مباشرة عبر واتساب.\n\nللمساعدة اختر:\n2 للتواصل مع موظف بشري\n3 للاستفسار عن طلب سابق",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        80,
        -64
      ],
      "name": "Enviar texto2"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_DATA_TABLE_ID",
          "mode": "list",
          "cachedResultName": "chat_sessions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('Detect Country').item.json.phone }}",
            "state": "unsupported_country",
            "country": "={{ $('Detect Country').item.json.country }}",
            "last_user_message": "={{ $('Detect Country').item.json.last_user_message }}",
            "last_bot_message": "={{ $('Detect Country').item.json.last_bot_message }}",
            "history": "={{ $('Detect Country').item.json.history }}",
            "customer_name": "={{ $('Detect Country').item.json.pushName }}",
            "area": "={{ $('Detect Country').item.json.country }}",
            "address": "={{ $('Detect Country').item.json.country }}",
            "items_total": 0,
            "shipping_cost": 0,
            "grand_total": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "area",
              "displayName": "area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_category",
              "displayName": "selected_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_product",
              "displayName": "selected_product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "selected_weight",
              "displayName": "selected_weight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "order_summary",
              "displayName": "order_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_user_message",
              "displayName": "last_user_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_bot_message",
              "displayName": "last_bot_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_order_date",
              "displayName": "last_order_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "history",
              "displayName": "history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "catalog_sent",
              "displayName": "catalog_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cart",
              "displayName": "cart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_message_id",
              "displayName": "last_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_message_time",
              "displayName": "last_message_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "order_created",
              "displayName": "order_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "woo_order_id",
              "displayName": "woo_order_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "woo_order_status",
              "displayName": "woo_order_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "items_total",
              "displayName": "items_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "shipping_cost",
              "displayName": "shipping_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "grand_total",
              "displayName": "grand_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -608,
        480
      ],
      "name": "Update row(s)2"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "uae nu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "uae nu": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detect Country",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "knowledge_base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extract Order Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Duplicate Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Exists?": {
      "main": [
        [
          {
            "node": "Build Agent Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Build Agent Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Agent Context": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Session": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Order Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Enviar imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Update Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar imagem": {
      "main": [
        [
          {
            "node": "Update Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Country": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row1": {
      "main": [
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Exists?1": {
      "main": [
        [
          {
            "node": "Update row(s)2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)1": {
      "main": [
        []
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Session Exists?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate Message?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Session Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Enviar texto2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Human Message To Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask Order Inquiry Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Order Inquiry Received To Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Human Message To Customer": {
      "main": [
        [
          {
            "node": "Send Human Alert To Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Human Alert To Admin": {
      "main": [
        [
          {
            "node": "Update Human Requested Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Order Inquiry Details": {
      "main": [
        [
          {
            "node": "Update Order Inquiry Waiting Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Order Inquiry Received To Customer": {
      "main": [
        [
          {
            "node": "Send Order Inquiry Alert To Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Order Inquiry Alert To Admin": {
      "main": [
        [
          {
            "node": "Update Order Inquiry Received Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto2": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)2": {
      "main": [
        [
          {
            "node": "Enviar texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  }
}